*
{
    font-family:helvetica, sans-serif;
}
body
{
    margin:0px;
}
#menu
{
    width:400px;
    height:30%;
    text-align:center;
    margin: 0px auto;
    padding-top: 20%;
}
#menu input
{
    width: 200px;
    margin-top:10px;
    padding: 1em;
}
